body {
  height: 100%;
  font-size: 14px;
  line-height: 1.3;
  font-family: $font;
  color: $textDark;
  font-weight: normal;
  cursor: default;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page {
  min-width: 320px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header,
.footer{
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}

.container {
  width: 100%;
  max-width: $container + $fields*2;
  padding-left: $fields;
  padding-right: $fields;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: $linkColor;
  text-decoration: none;
}

.icon {
  display: inline-block;
  //width: 1em;
  //height: 1em;
  fill: currentColor;
  position: relative;
}

button {
  cursor: pointer;
}
