.block {
	display: block;
}

.flex {
	display: flex;
}

.none {
	display: none;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$halfGap;
	margin-right: -$halfGap;
}

.col {
	padding-left: $halfGap;
	padding-right: $halfGap;
}

.text-center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

@include xl-screen {
	.xl-block {
		display: block;
	}

	.xl-flex {
		display: flex;
	}

	.xl-none {
		display: none;
	}

	.xl-text-center {
		text-align: center;
	}
}

@include lg-screen {
	.lg-block {
		display: block;
	}

	.lg-flex {
		display: flex;
	}

	.lg-none {
		display: none;
	}
}

@include md-screen {
	.md-block {
		display: block;
	}

	.md-flex {
		display: flex;
	}

	.md-none {
		display: none;
	}
}

@include sm-screen {
	.sm-block {
		display: block;
	}

	.sm-flex {
		display: flex;
	}

	.sm-none {
		display: none;
	}
}
