// colors
$accent: #cc3636;
$accent2: darken($accent, 10%);
$accent3: #d01515;

$grey: #333333;
$grey2: #d3d9d7;

$textDark: $grey;
$error: $accent3;
$linkColor: $accent;

// fonts
$lato: 'Lato', sans-serif;
$font: $lato;

// grid and responsive
$container: 1770px;
$columns: 12;
$gap: 30px;
$halfGap: ($gap / 2);
$fields: 75px;

$z-index: (
        header: 100,
        modal: 300
);

$break_xl: 1640px;
$break_lg: 1320px;
$break_md: 1023px;
$break_sm: 767px;
$break_xs: 575px;
$break_xxs: 449px;

$shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
